<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}

        <!-- Google Font -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap Core CSS -->
        <link href="http://www.misfacturas.space/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Plugins CSS -->
        <link href="http://www.misfacturas.space/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://www.misfacturas.space/assets/plugins/animate-css/animate.min.css" rel="stylesheet" type="text/css">
        <link href="http://www.misfacturas.space/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
        <link href="http://www.misfacturas.space/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
        <link href="http://www.misfacturas.space/assets/plugins/jquery-magnificPopup/magnific-popup.css" rel="stylesheet" type="text/css">

        <!-- Component CSS -->
        <link href="http://www.misfacturas.space/assets/css/component/component.css" rel="stylesheet" type="text/css">

        <!-- Main CSS -->
        <link href="http://www.misfacturas.space/assets/css/rinjani.css" rel="stylesheet" type="text/css">

        <!-- Modernizr JS for IE9 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="http://www.misfacturas.space/assets/plugins/modernizr.min.js"></script>
        <![endif]-->

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        <style>
        /** quick fix because bootstrap <pre> has a background-color. */
        pre code { background-color: inherit; }
        </style>
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Mis Facturas</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li {% if page.url != '/about' %}class="active"{% endif %}><a href="{{ site.url }}/">Blog</a></li>
            <li {% if page.url == '/about'%}class="active"{% endif %}><a href="{{ site.url }}/about">Acerca de Nosotros</a></li>
            <li><a href="http://www.misfacturas.space/">Pruébanos</a></li>
          </ul>
          </div>
      </div>
    </nav>
        <div class="container" style="margin-top: 10px">
            <div class="row">
                <div class="col-md-9">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
                <div class="col-md-3">
                    <div class="well">
                        <h4><strong>{{ site.title }}</strong></h4>
                        {% if site.subtitle %} <p>{{ site.subtitle }}</p>{% endif %}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="http://www.misfacturas.space">Regístrate en www.misfacturas.space</a></li>
                        <li class="list-group-item"><a href="https://www.facebook.com/MisFacturasSpace">Síguenos en Facebook</a></li>
                        <li class="list-group-item"><a href="https://twitter.com/MisFacturasEC">Síguenos en Twitter</a></li>
                        <li class="list-group-item"><a href="{{ site.url }}/blog">Archivo del Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <footer class="container">
            &copy; {{ "now"|date("Y") }} {{ site.title }}
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/components/jquery/jquery.min.js"><\/script>')</script>
        <script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
        {% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}

        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        {% block scripts_after %}
        {% endblock %}
    </body>
</html>
